*{text-decoration: none; list-style: none; margin: 0; padding: 0; color: black;}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media(min-width: 768px){
       width: 750px;
    }
    @media(min-width: 992px){
        width: 970px;
    }
    @media(min-width: 1200px){
        width: 1170px;
    }
}
.position-absolute{position: absolute;}
.position-relative{position: relative;}
.d-flex{display: flex;}
.d-none{display: none;}
.align-items-center{align-items: center;}
.align-items-start{align-items: flex-start;}
.align-items-end{align-items: flex-end;}
.justify-content-center{justify-content: center;}
.justify-ccontent-between{justify-content: space-between;}
.text-nowrap{white-space: nowrap;}
.text-center{text-align: center;}
.font2em{font-size: 2em;}
.font1em{font-size: 1em;}



//////////////// 상단 ////////////////
#wrap{
    .font2em{
        font-family: 'LeferiPoint-BlackA';
        margin: 3em 0 0 0;
    }
    .font1em{
        font-family: 'LeferiBaseType-RegularA';
    }
}